@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#eee;
    font-family: 'Spartan', sans-serif;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 40px;
    background-color: white;
    margin-bottom: 80px;
}

.ust{
    margin: 10px;
    padding: 20px;
    display: flex;
    border: 3px solid white;
}

.ust .stars{
    margin-left: 140px;
    width: 60%;
    justify-content: flex-end;
}

.ust .card{
    width: 40%;

}

.ust .card h1{
    color: #502050;
    font-weight: 700;
}

.ust .card p{
    opacity: 0.5;
}

.ust .stars .first{
    background-color: #f7f2f8;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.ust .stars .second{
    background-color: #f7f2f8;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    margin-left: 40px;
    padding: 10px;
}

.ust .stars .third{
    background-color: #f7f2f8;
    width: 80%;
    
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    margin-left: 80px;
    padding: 10px;
}

.bacg-item{
    display: flex;
    
}

.bacg-item p{
    font-weight: 500;
    
}

.bacg-item .star{
    margin-right: 15px;

}

.bacg-item .star i{
    color: gold;
}

.alt{
    margin-top: 10px;
    padding: 20px;
    display: flex;
    color: white;
    
     
}

.alt img{
    border-radius: 50%;
}

.alt .header .autor{
    display: flex;
    margin-bottom: 10px;
    
}

.alt .header .autor .autor-title{
    margin-top: 20px;
    margin-left: 20px;

}

.autor-work{
    color: red;
}

.alt .card{
    
    padding: 15px;
    background-color: #502050;
    border-radius: 4px;
}

.alt .card:nth-child(even){
    margin: 0 15px;
}

.alt .second{
    margin-top: 20px !important;
    margin-bottom: -20px !important;
    padding: 15px;
    background-color: #502050;
    border-radius: 4px;
    
}

.alt .third{
    margin-top: 40px !important;
    margin-bottom: -40px !important;
    padding: 15px;
    background-color: #502050;
    border-radius: 4px;
    
}





